{% extends "layout.html" %}
{% block body %}
    {% for message in get_flashed_messages() %}
        <div class="notification is-danger">{{ message }}</div>
    {% endfor %}
<section class="section">
      <div class="columns">
          <div class="column">
          </div>
          <div class="column">
            <form method="post" action="{{ url_for('change_password_post') }}">
                <input class="input mb-3" type="text" name="username" placeholder="Username">
                <input class="input mb-3" type="text" name="password" placeholder="Password">
                <input class="input mb-3" type="text" name="new_password" placeholder="New password">
                <input class="input mb-3" type="text" name="new_password2" placeholder="Verify new password">
                <input class="button is-primary" type="submit">
            </form>
          </div>
          <div class="column">
          </div>
      </div>
</section>
{% endblock %}